
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {margin:0; padding:0; border:0; box-sizing: border-box;}

a {color: white;}
a:visited {color: white;}

body {
    font-family: 'Electrolize',sans-serif;
    background-image: url("./assets/images/astdelux.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    color: white;
   }

header {
    margin-top: 10px;
    margin-bottom: 10px;;
    min-height: 60px;
}
main {
    display:flex; 
    align-items: center;
}


aside img {
    max-width: 100%;
    height:auto;
    /* border: 1px solid red; */
}

aside:nth-child(1) {
    
    text-align: right;
    flex:1 0 auto; 
}
aside:nth-child(3) {
    text-align: left;
    flex:1 0 auto; 

}
article {
    background-color: black;
    border:3px solid white;
    border-radius:25px;
    flex:0 1 auto; 
    margin-left: 20px;
    margin-right: 20px;;

}

article div {
    margin:6px;

}
footer {
    margin-top: 10px;
     min-height: 20px;
}


.container {
    text-align: center;
}

.controls p {
    line-height: 5px;
    font-size: larger;
}